@page
@model WorldBestClinic.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clinic Services</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
            string imagePath = "/ServicePhotos/" + item.FileName;
        <tr>
            <td>
                    <img src="@imagePath" class="img-fluid thumbnail">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
